<template>
  <v-container>
    <v-btn depressed color="primary" @click="exportXML()"> Exportar XML </v-btn>
    <v-card
      elevation="2"
      v-for="article in feed"
      :key="article.id"
      class="mb-3 mt-3"
    >
      <v-card-title>{{ article.titulo }}</v-card-title>
      <v-card-subtitle
        >{{ article.palabras }} palabras | {{ article.paginas }} paginas |
        {{ article.fecha }}</v-card-subtitle
      >
      <v-card-text> {{ article.contenido }}</v-card-text>
      <v-card-subtitle>{{ article.autor }}</v-card-subtitle>
      <!-- <v-card-actions>
        <v-btn color="blue" text :to="`/article/${article.id}`">Ver Mas</v-btn>
      </v-card-actions> -->
    </v-card>
  </v-container>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {};
  },
  methods: {
    ...mapActions(["getArticles"]),
    exportXML() {
      const xmlArticulos = this.OBJtoXML(this.feed);
      const completedXML = `<feed>${xmlArticulos}</feed>`;
      console.log(completedXML);

      let downloadButton = document.createElement("a");
      const filename = "noticias.xml";
      let bb = new Blob([completedXML], { type: "text/plain" });

      downloadButton.setAttribute("href", window.URL.createObjectURL(bb));
      downloadButton.setAttribute("download", filename);

      downloadButton.dataset.downloadurl = ["text/plain", downloadButton.download, downloadButton.href].join(
        ":"
      );
      downloadButton.draggable = true;
      downloadButton.classList.add("dragout");

      downloadButton.click();
    },
    OBJtoXML(feed) {
      return feed.reduce((result, article) => {
        return (
          result +
          `<articulo>
          <id>${article.id}</id>
          <titulo>${article.titulo}</titulo>
          <palabras>${article.palabras}</palabras>
          <paginas>${article.paginas}</paginas>
          <fecha>${article.fecha}</fecha>
          <contenido>${article.contenido}</contenido>
          <autor>${article.autor}</autor>
          </articulo>`
        );
      }, "");
    },
  },
  computed: {
    ...mapState(["feed"]),
  },
  mounted() {
    this.getArticles();
  },
};
</script>

<style>
</style>