<template>
  <div>
    <v-btn color="primary" @click="generate()">Generate</v-btn>
  </div>
</template>

<script>
export default {
  name: "Home",
  methods: {
    generate() {
      const news = [
        { name: "juan", email: "arrow@arrow.com" },
        { name: "julian", email: "devo@arrow.com" },
      ];
      console.log(this.OBJtoXML(news))
      // let pom = document.createElement("a");
      // const filename = "noticias.xml";
      // let bb = new Blob([formatted], { type: "text/plain" });

      // pom.setAttribute("href", window.URL.createObjectURL(bb));
      // pom.setAttribute("download", filename);

      // pom.dataset.downloadurl = ["text/plain", pom.download, pom.href].join(
      //   ":"
      // );
      // pom.draggable = true;
      // pom.classList.add("dragout");

      // pom.click();
    },
    OBJtoXML(feed) {
      return feed.reduce((result, article) => {
        return (
          result +
          `<feed><name>${article.name}</name> <email>${article.email}</email></feed>`
        );
      }, "");
    },
  },
};
</script>
